@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5e6ca;
    text-align: center;
    padding: 20px;
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-top: 5px;
    position: relative;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #5d3a9b;
    border-radius: 50px;
    color: #f5e6ca;
}

nav ul li.img a {
    display: flex;
    align-items: center;
    padding: 0;
    background: none;
    cursor: pointer;
}

nav ul li.img a:hover {
    background: none;
}

nav ul li.img img {
    max-width: 30px;
    height: auto;
    display: block;
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 10px;

}

/* Header */
header {
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.me {
    display: grid;
    place-items: center;
}

.img-porfolio {
    border: 2px solid #5d3a9b;
    border-radius: 15px;
}

header h3 {
    font-size: 20px;
}

.social-reds {
    margin-top: 10px;
}

.social-reds img {
    max-width: 40px;
    height: auto;
    border: 2px solid #5d3a9b;
    border-radius: 50%;
}

/* About Me */
article {
    background-color: #5d3a9b;
    color: #f5e6ca;
    padding: 10px;
    border-radius: 5px;
}

article h1 {
    text-align: center;
}

article p {
    max-width: 900px;
    text-align: left;
    margin: auto;
}

/* Technologies Section */
section h1 {
    text-align: center;
}

.technologias {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.category {
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.icons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.icon img {
    width: 80px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.1);
}

.icon span {
    position: absolute;
    bottom: -30px;
    background: rgba(0, 0, 0, 0.8);
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(10px);
    border: 1px solid #5d3a9b;
}

.icon:hover span {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    background-color: #f5e6ca;
}

/* Carousel */
.carousel-container {
    position: relative;
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.project-card {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    background: #5d3a9b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.project-info {
    margin-top: 15px;
}

.technologies {
    font-size: 14px;
    color: #f5e6ca;
    margin: 10px 0;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 8px 15px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s;
}

.btn:hover {
    background: #0056b3;
}

/* Carousel Navigation */
.nav-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    pointer-events: none;
}

.nav-buttons button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    pointer-events: auto;
    transition: background 0.3s;
}

.nav-buttons button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background: #5d3a9b;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
    left: 0;
    text-align: right;
}

.timeline-item:nth-child(even) {
    left: 50%;
    text-align: left;
}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #5d3a9b;
    border-radius: 50%;
    top: 20px;
    left: calc(100% - 10px);
    transform: translateX(-50%);
    border: 3px solid #f5e6ca;
}

.timeline-item:nth-child(even)::before {
    left: -10px;
}

.content {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 90%;
    background-color: #f5e6ca;
    border: 2px solid #5d3a9b;
}

.date {
    font-size: 14px;
    font-weight: bold;
    color: #5d3a9b;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    color: #5d3a9b;
}

.description {
    font-size: 14px;
    color: #555;
}

.carousel-certificates {
    position: relative;
    width: 70%;
    margin: auto;
    overflow: hidden;
    background-color: #5d3a9b;
}

.carousel-certi {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
}

.certificate-card {
    flex: 0 0 30%;
    text-align: center;
}

.certificate-card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.certificate-info {
    margin-top: 10px;
}

.title-card {
    font-size: 14px;
    color: #f5e6ca;
    margin: 10px 0;
}

.nav-buttons-certificate {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    pointer-events: none;
}

.nav-buttons-certificate button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    pointer-events: auto;
    transition: background 0.3s;
}

.nav-buttons-certificate button:hover {
    background: rgba(0, 0, 0, 0.8);
}

footer {
    color: rgb(128, 128, 128);
    text-align: center;
    padding: 15px;
    font-size: 14px;
    border-top: 3px solid #f5e6ca;
    position: relative;
    margin-top: 5px;
}

footer p {
    margin: 0;
}

footer a {
    color: rgb(128, 128, 128);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #0026ff;
    text-decoration: underline;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
        display: none;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    #menu-toggle {
        display: block;
    }

    nav ul.show {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .technologias {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .timeline::after {
        left: 10px;
    }

    .timeline-item {
        width: 100%;
        left: 0;
        text-align: left;
        padding-left: 20px;
    }

    .carousel-certificates {
        position: relative;
        width: 100%;
        margin: auto;
        overflow: hidden;
        background-color: #5d3a9b;
    }

    .carousel-container {
        position: relative;
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    nav ul {
        gap: 5px;
    }

    .btn {
        padding: 6px 10px;
    }
}